@inherits LayoutComponentBase
@using PhysicsDemo.Components.Dialogs
@using PhysicsDemo.Components.Pages
@using PhysicsDemo.Data.Users
@inject ISnackbar Snackbar
@inject IDialogService dialogService
@inject AuthenticationStateProvider authProvider
@inject UserService userService
<MudThemeProvider @bind-IsDarkMode="DarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Info">
        @*<MudIconButton Icon="@Icons.Material.TwoTone.Menu" OnClick="MenuToggle" />*@
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.TwoTone.Email" Color="Color.Warning" OnClick="OpenEmailDialog" />
        @if (!String.IsNullOrEmpty(UserName))
        {
            <MudText>Welcome, @UserName!</MudText>
        }
        <ThemeMode Toggle="ToggleTheme" />
        <LogInOut />
    </MudAppBar>
    @*<MudDrawer @bind-Open="MenuView">
        <MudNavMenu Color="Color.Info">
            <br />
            <MudNavLink Href="/">Home</MudNavLink>
            <MudNavLink Href="/email">Email</MudNavLink>
            <MudNavLink Href="/timer">Timer</MudNavLink>
            <MudNavLink Href="/files">Files</MudNavLink>
            <MudNavLink Href="/auth">Auth</MudNavLink>
        </MudNavMenu>
    </MudDrawer>*@
    <MudMainContent>
        @if (!Loaded)
        {
            <MudText Typo="Typo.h4">Loading your information</MudText>
            <MudProgressLinear Indeterminate />
        }
        else
        {
            <CascadingValue Value="User">
                @Body
            </CascadingValue>
        }
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private MudThemeProvider? Provider { get; set; }
    private bool DarkMode { get; set; }
    private bool MenuView { get; set; } = false;
    private Guid UserID { get; set; }
    private string? UserName { get; set; } = null;
    private Auth0User? User { get; set; } = null;
    private void MenuToggle()
    {
        MenuView = !MenuView;
    }
    private bool Loaded { get; set; } = false;
    protected override async Task OnInitializedAsync()
    {
        if (Provider != null)
            DarkMode = await Provider.GetSystemPreference();
        var result = await authProvider.GetAuthenticationStateAsync();
        if (result != null)
        {
            UserName = result.User?.Identity?.Name ?? null;
            if (result.User?.Claims != null)
            {
                foreach (var claim in result.User.Claims)
                {
                    if (claim.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")
                        User = userService.GetUserByKey(claim.Value);
                }
            }
            if (User != null)
            {
                userService.RecordLogin(User.UserID);
            }
        }
        Loaded = true;
    }
    private void ToggleTheme()
    {
        DarkMode = !DarkMode;
        StateHasChanged();
    }
    DateTime? LastSendEmail { get; set; } = null;
    private async Task OpenEmailDialog()
    {
        if (User == null && LastSendEmail.HasValue && LastSendEmail.Value.AddMinutes(1) > DateTime.Now)
        {
            Snackbar.Add("Email rate limit hit.", Severity.Warning);
            return;
        }
        var options = new DialogOptions()
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };
        var parameters = new DialogParameters();
        parameters.Add(nameof(FeedbackDialog.UserName), User?.UserName);
        parameters.Add(nameof(FeedbackDialog.UserEmail), User?.EmailAddress);
        var dialog = dialogService.ShowAsync<FeedbackDialog>("Submit Feedback", parameters, options);
        var result = await dialog;
        var result2 = await result.Result;
        if (result2?.Canceled == false && result2.Data is bool sent)
        {
            LastSendEmail = DateTime.Now;
        }
    }
}
